/* all elements */
body{
    padding: 0%;
    margin: 0%;
    background-image: url(./backG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    font-family: poppins;
}
/* header */
header{
    padding-bottom: 20px;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    width: 1500px;
    margin: 10px auto;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: #ffffff 0px 0px 10px;
}
nav .buttons{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 12px;
}
nav .buttons a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 30px;
    transition: .3s;
    width: 100px;
    text-align: center;
}
nav .buttons a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
/* section */
section{
    padding: 50px;
}
section .container{
    display: flex;
    justify-content: space-around;
}
section .container .info{
    color: #ffffff;
    font-size: 30px;
}
section .container .info h1,h2,h3{
    /* border: 1px solid rgb(255, 255, 255); */
    box-shadow: #ffffff 0px 0px 10px;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    text-align: center;
}
section .container .info h1{
    font-size: 50px;
    padding: 10px;
}
section .container .info h2{
    font-size: 40px;
    padding: 10px;
}
section .container .info h3{
    font-size: 30px;
    padding: 10px;
}
section .container .projects .box{
    border: 1px solid rgb(91, 27, 209);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: #ffffff;
    background-image: url(./backforbox.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
section .container .projects .box .box-img img{
    width: 200px;
    height: 150px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: #ffffff 0px 0px 10px;
    backdrop-filter: blur(50px);
}
section .container .projects .box .p p{
    font-size: 20px;
}
section .container .projects .box .link a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}


