/* all elements */
body{
    padding: 0%;
    margin: 0%;
    background-image: url(./backG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    font-family: poppins;
}
/* header */
header{
    padding-bottom: 20px;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    width: 1500px;
    margin: 10px auto;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: #ffffff 0px 0px 10px;
}
nav .buttons{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 12px;
}
nav .buttons a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 30px;
    transition: .3s;
    width: 100px;
    text-align: center;
}
nav .buttons a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
/* section */
section{
    padding: 50px;
}
section .container{
    display: flex;
    justify-content: space-around;
}
section .container .info{
    color: #ffffff;
    font-size: 30px;
}
section .container .info h1,h2,h3{
    /* border: 1px solid rgb(255, 255, 255); */
    box-shadow: #ffffff 0px 0px 10px;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    text-align: center;
}
.info h1:hover{
    background-color: #ffffff;
    color: black;
}
.info h2:hover{
    background-color: #ffffff;
    color: black;
}
.info h3:hover{
    background-color: #ffffff;
    color: black;
}
section .container .info h1{
    font-size: 50px;
    padding: 10px;
}
section .container .info h2{
    font-size: 40px;
    padding: 10px;
}
section .container .info h3{
    font-size: 30px;
    padding: 10px;
}
section .container .projects .box{
    width: 200px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    /* box-shadow: #ffffff 0px 0px 10px; */
    backdrop-filter: blur(50px);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0px;
}
section .container .projects .box .box-img img{
    width: 200px;
    height: 150px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: #ffffff 0px 0px 10px;
    backdrop-filter: blur(50px);
}
section .container .projects .box .p a{
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: .3s;
    box-shadow: #ffffff 0px 0px 10px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
section .container .projects .box .p a:hover{
    background-color: #ffffff;
    color: black;
}
/* footer */



footer .container .social{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
    position: fixed;
    bottom: 0%;
    right: 40%;
}

footer .container .social i{
    color: #ffffff;
    box-shadow: #ffffff 0px 0px 10px;
    font-size: 50px;
    margin: 0px 10px;
    padding: 20px;
    cursor: pointer;
    transition: .3s;
}
footer .container .social i:hover{
    background-color: #ffffff;
    color: black;
}
